.btn{
    background-color: aqua;
    color: aliceblue;
    padding: 20px 30px 20px 20px;
    border-radius: 10px;
    font-size: 20px;
}

#container{
    text-align: center;
    position: absolute;
    left: 20px;
    right: 20px;
    top: 50%;
}